openapi: 3.2.0
info:
  title: Urban Outfitters Marketplace Inventory API
  description: Integration API for the Urban Outfitters curated third-party marketplace (UO MRKT). Independent brands and sellers can list products, manage inventory, receive orders, and update shipment tracking through EDI or third-party integration platforms such as ConnectPointz, SellerCloud, and e-tailize. This spec represents the conceptual API surface for marketplace sellers.
  version: 1.0.0
  contact:
    name: Urban Outfitters Marketplace Support
    url: https://www.urbanoutfitters.com/mrkt-seller-form
  x-generated-from: documentation
servers:
- url: https://marketplace.urbanoutfitters.com/api
  description: Urban Outfitters Marketplace API
security:
- apiKeyAuth: []
tags:
- name: Inventory
  description: Inventory level management
paths:
  /v1/inventory:
    put:
      operationId: updateInventory
      summary: Urban Outfitters Update Inventory
      description: Update inventory levels for one or more seller products on the Urban Outfitters marketplace.
      tags:
      - Inventory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdate'
            examples:
              updateInventoryRequestExample:
                summary: Default updateInventory request
                x-microcks-default: true
                value:
                  updates:
                  - sku: UO-BRAND-TEE-001
                    quantity: 300
                  - sku: UO-BRAND-JACKET-002
                    quantity: 45
      responses:
        '200':
          description: Inventory updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryUpdateResponse'
              examples:
                updateInventory200Example:
                  summary: Default updateInventory 200 response
                  x-microcks-default: true
                  value:
                    updated: 2
                    failed: 0
                    results:
                    - sku: UO-BRAND-TEE-001
                      status: updated
                      quantity: 300
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    InventoryUpdateResponse:
      type: object
      description: Result of inventory update
      properties:
        updated:
          type: integer
          description: Number of successfully updated SKUs
          example: 2
        failed:
          type: integer
          description: Number of failed updates
          example: 0
        results:
          type: array
          description: Per-SKU update results
          items:
            type: object
            properties:
              sku:
                type: string
                example: UO-BRAND-TEE-001
              status:
                type: string
                example: updated
              quantity:
                type: integer
                example: 300
    APIError:
      type: object
      description: API error response
      properties:
        error:
          type: string
          example: unauthorized
        message:
          type: string
          example: Invalid API key.
        code:
          type: integer
          example: 401
    InventoryUpdate:
      type: object
      description: Inventory update request
      required:
      - updates
      properties:
        updates:
          type: array
          description: List of SKU inventory updates
          items:
            type: object
            properties:
              sku:
                type: string
                example: UO-BRAND-TEE-001
              quantity:
                type: integer
                example: 300
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Seller-API-Key
      description: Seller API key provided by Urban Outfitters marketplace onboarding
externalDocs:
  description: Urban Outfitters Marketplace Seller Form
  url: https://www.urbanoutfitters.com/mrkt-seller-form
